.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-smoke);
  margin-right: var(--spacing-normal);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(249, 249, 249, 0.6);
}

.social__link.facebook {
  color: var(--steel-blue);
}

.social__link.twitter {
  color: var(--dodger-blue);
}

.social__link.linkedin {
  color: var(--dark-cyan);
}

.social__link:hover {
  background-color: var(--brand-primary);
  color: var(--white);
  cursor: pointer;
}

.social__link ion-icon {
  margin-right: 0;
}
