:root {
  --white: #ffffff;
  --black: #000000;
  --sea-green: #5bc777;
  --indian-red: #cf566e;
  --powder-blue: #c8d3f0;
  --dark-grey: #adabb8;
  --light-grey: #cdc9d3;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --base-font-size: 16px;

  --spacing-small: 4px;
  --spacing-normal: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-x-large: 32px;
  --spacing-x-x-large: 40px;

  font-size: var(--base-font-size);
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  padding: 0;
  margin: 0;
}
